<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">

<body><a name="top"> </a>
<center>
    <table>
        <tr>
            <td class="teletext">
                <div class="teletext">&#xE2C0;P100 <span class="green">!RAVE.NOW <span id="TTcounter">888</span> <span id="TTdate">Mon  1 Jan</span></span> <span class="yellow"><span id="TTtime">00:00/00</span></span>
&#xE2C0;<span class="yellow bluebg"> Never gonna give you up            </span><span
        class="white bluebg">429</span>
&#xE2C0;<span class="yellow bluebg"> You can't handle the truth!        </span><span
        class="white bluebg">666</span>
&#xE2C0;
&#xE2C0;<span class="red">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2DF;&#xE2C1;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C5;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FE;&#xE2FF;&#xE2C7;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2E8;&#xE2FF;&#xE2D7;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C1;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2C1;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2C2;&#xE2EF;&#xE2FF;&#xE2FD;&#xE2F0;&#xE2F8;&#xE2FF;&#xE2DF;&#xE2C1;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="red">&#xE2C0;&#xE2C0;&#xE2FE;&#xE2FF;&#xE2C1;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2D7;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C1;&#xE2EA;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C5;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C1;&#xE2EA;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2CB;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C7;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2E8;&#xE2FF;&#xE2F7;&#xE2F0;&#xE2F0;&#xE2FE;&#xE2FF;&#xE2C5;&#xE2E0;&#xE2FF;&#xE2DF;&#xE2CF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2DF;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2DF;&#xE2CF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2F8;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FD;&#xE2D0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2C0;&#xE2CE;&#xE2CF;&#xE2C0;&#xE2C0;&#xE2CF;&#xE2CF;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C5;&#xE2C0;&#xE2CE;&#xE2CF;&#xE2C0;&#xE2C0;&#xE2CF;&#xE2CF;&#xE2C0;&#xE2E0;&#xE2FE;&#xE2FF;&#xE2C7;&#xE2C0;&#xE2CB;&#xE2CF;&#xE2CF;&#xE2C4;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F8;&#xE2FF;&#xE2DF;&#xE2C1;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C2;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;
&#xE2C0; <span class="red">Where's The Rave At Now?</span>
&#xE2C0;
&#xE2C0;
&#xE2C0; <span class="yellow">You could try to <span class="flashing">Create it!</span>&#xE2C0;<form th:action="@{/organisatie/create-rave}" method="post" th:object="${rave}">
       <label for="name" class="blue">Name</label> <input size=12 class="blue" type="text" id="name" name="name" placeholder="_____________" th:field="*{name}"/>
       <label for="description" class="blue">Description</label> <input size=12 class="blue" type="text" id="description" name="description" placeholder="_____________" th:field="*{omschrijving}"/><input id="latitude" required type="hidden" th:field="*{latitude}"/><input id="longitude" required type="hidden" th:field="*{longitude}"/>
       <label for="tags" class="blue">Tags</label> <input size=12 class="blue" type="text" id="tags" name="tags" placeholder="_____________" th:field="*{tags}"/>
       <label for="datum" class="blue">Datum</label> <input size=12 class="blue" type="datetime-local" id="datum" name="datum" th:field="*{datum}"/>
       <input type="submit" value="Create" class="teletekst.yellow bluebg"/></form>
&#xE2C0;<span class="blue" id="location"></span>
&#xE2C0;<div id="map"></div>
&#xE2C0;<span th:insert="fragments/head :: raves"></span>
&#xE2C0;<span class="bluebg yellow "><a href="mailto:michel@whitehorses.nl" class="yellow">michel@whitehorses.nl</a> 1982   </span>
&#xE2C0;<a th:href="@{/}" class="red">Home</a>   <!-- -->   <a href="https://freegalaga.com/" class="green">Game On!</a>    <!-- -->  <a
                                th:href="@{/static}" class="yellow">Static</a>  <!-- -->   <a href="mailto:michel@whitehorses.nl"
                                                                                           class="cyan">Email</a>
</div>
</td>
</tr>
</table>
</body>
<script>
    var lp = new locationPicker('map', {
        setCurrentPosition: true, // You can omit this, defaults to true
    }, {
        zoom: 15 // You can set any google map options here, zoom defaults to 15
    });

    function getPosition() {
        const location = lp.getMarkerPosition();
        const long = document.getElementById("longitude");
        const lat = document.getElementById("latitude");
        const field = document.getElementById("location")

        long.value = location.lng;
        lat.value = location.lat;
        field.innerHTML = location.lat + ' | ' + location.lng;
    }

    window.onload = function () {
        getPosition();
    }

    google.maps.event.addListener(lp.map, 'idle', function (event) {
        getPosition()
    });

    var sound = new Howl({
        src: ['remix.mp3'],
        loop: true
    });
    sound.play();
</script>
</html>