<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
    <link rel="stylesheet" th:href="@{/teletekst.css}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon-16x16.png}">
    <link rel="manifest" href="/site.webmanifest">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>
    <title>Rave NOW!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:fragment="raves">
    <tr th:if="${raves.empty}">
        <td colspan="2"> Geen Raves gevonden :(</td>
    </tr>
    <tr th:each="rave : ${raves}">
        <td><span th:text="${rave.getName()}"> Naam </span></td>
        <td><span> | </span></td>
        <td><span th:text="${rave.getDatum()}"> Datum </span></td>
        <br/>
        <td><span th:text="${rave.getOmschrijving()}"> Omschrijving </span></td>
        <br/>
        <td><span th:text="${rave.getTags()}"> Tags </span></td>
        <br/>
    </tr>
</p>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <h1>Rave NOW!</h1>
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="nav-link" th:href="@{/}">Home</a></li>
            <li><a class="nav-link" th:href="@{/}">Log out</a></li>
        </ul>
    </div>
</nav>
</body>
</html>