<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">

<body><a name="top"> </a>
<center>

    <table>
        <tr>
            <td class="teletext">
                <div class="teletext">&#xE2C0;P100 <span class="green">!RAVE.NOW <span id="TTcounter">404</span> <span id="TTdate">Mon  1 Jan</span></span> <span class="yellow"><span id="TTtime">00:00/00</span></span>
&#xE2C0;<span class="yellow bluebg"> Amazing raves near you?            </span><span
            class="white bluebg">100</span>
&#xE2C0;<span class="yellow bluebg"> Last raves sold out completely     </span><span
            class="white bluebg">201</span>
&#xE2C0;
&#xE2C0;<span class="red">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2DF;&#xE2C1;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C5;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FE;&#xE2FF;&#xE2C7;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2E8;&#xE2FF;&#xE2D7;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C1;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2C1;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2C2;&#xE2EF;&#xE2FF;&#xE2FD;&#xE2F0;&#xE2F8;&#xE2FF;&#xE2DF;&#xE2C1;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="red">&#xE2C0;&#xE2C0;&#xE2FE;&#xE2FF;&#xE2C1;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2D7;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C1;&#xE2EA;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C5;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C1;&#xE2EA;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2CB;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2C7;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2E8;&#xE2FF;&#xE2F7;&#xE2F0;&#xE2F0;&#xE2FE;&#xE2FF;&#xE2C5;&#xE2E0;&#xE2FF;&#xE2DF;&#xE2CF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2DF;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2DF;&#xE2CF;&#xE2FF;&#xE2FF;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2F8;&#xE2FF;&#xE2FF;&#xE2FF;&#xE2FD;&#xE2D0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2CF;&#xE2C0;&#xE2CE;&#xE2CF;&#xE2C0;&#xE2C0;&#xE2CF;&#xE2CF;&#xE2C0;&#xE2FA;&#xE2FF;&#xE2C5;&#xE2C0;&#xE2CE;&#xE2CF;&#xE2C0;&#xE2C0;&#xE2CF;&#xE2CF;&#xE2C0;&#xE2E0;&#xE2FE;&#xE2FF;&#xE2C7;&#xE2C0;&#xE2CB;&#xE2CF;&#xE2CF;&#xE2C4;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2E0;&#xE2FF;&#xE2FF;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F0;&#xE2F8;&#xE2FF;&#xE2DF;&#xE2C1;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;<span class="magenta">&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C2;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C3;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;&#xE2C0;</span>
&#xE2C0;
&#xE2C0; <span class="red">Where's The Rave At Now?</span>
&#xE2C0;
&#xE2C0;Wouldn't you like to know?
&#xE2C0; <span class="yellow">You could try to <span class="flashing">log on!</span>&#xE2C0;<form th:action="@{/user}" method="post" th:object="${gebruiker}" >
       <label for="username" class="blue">Username</label> <input size=12 class="blue" type="text" id="username" name="username" placeholder="_ _ _ _ _ _ _ _"/>
       <label for="tags" class="blue">Preferences</label> <input size=12 class="blue" type="text" id="tags" name="tags" placeholder="_ _ _ _ _ _ _ _"/>
       <label class="blue">Role<select name="role"><option class="redbg" th:each="role : ${T(nl.whitehorses.ravenow.model.Role).values()}" th:value="${role}" th:text="${role}"></option></select></label>
       <label for="password" class="blue">Password</label> <input size=12 class="blue" type="password" id="password" name="password" placeholder="_____________"/>  <input type="submit" value="Registreer" class="teletekst.yellow bluebg"/></form>
                        &#xE2C0;
&#xE2C0;<span class="bluebg yellow ">  Teletext font by <a href="mailto:3d@galax.xyz" class="yellow">3d@galax.xyz</a> 1982   </span>
&#xE2C0;  <a th:href="@{/}" class="red">Home</a>   <!-- -->   <a href="https://freegalaga.com/" class="green">Game On!</a>   <!-- -->  <a
                                href="STATIC.HTM" class="yellow">Static</a>  <!-- -->  <a href="mailto:3d@galax.xyz"
                                                                                          class="cyan">Email</a>
</div>
</td>
</tr>
</table>
</body>
<script>
    // var sound = new Howl({
    //     src: [''],
    //     loop: true
    // });
    // sound.play();
</script>
</html>